#parteCab{
    padding: 5px;
}
#der1{
    float: left;
    width: 200px;
}
#centro1 span{
    font-weight: bold;
}
#centro1 label{
    font-size: 14px;
}
#centro1{
    float: left;
    width: 500px;
    text-align: center;
}
#izq1{
    float: right;
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
}
#izq1 #ruc{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
#izq1 #tit{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
#izq1 #fn,#fecha{
    text-align: center;
}
#parteCli input[type=text]{
    border: 0px;
    background-color: #eeeeee;
    border-bottom: 1px solid #333333;
}
#txtC{
    width: 400px;
}
#parteCli{
    float: left;
    margin-bottom: 15px;
    /*position: relative;*/
}
#tblDetalle{
    background-color: #FFF;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#tblDetalle th{
    font-weight: bold;
    font-size: 17px;
    border-left:1px solid #000;
}
#tblDetalle td{
    font-size: 14px;
    padding: 5px 5px;
    border-top: 1px solid #000;
    border-left:1px solid #000;
}
#parteDetalle{
    /*position: relative;*/
}
.inputS{
    width: 250px;
    padding-left: 10px;
    border: 0px;
    background-color: #eeeeee;
    border-bottom: 1px solid #333333;
}
#tblDetalle tr:last-child{
    font-weight: bold;
    border-top: 1px solid #000;
}