* {
    margin: 0;
    padding: 0;
}
p {
    padding: .8em 0;
    line-height: 1.8em;
    text-align: justify;
}

a {
    color: #D9463D;
    text-decoration: none;
}

a:hover {
    color: #EF5548;
}
#login{
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.box2 {
    height: 1%;
    padding: 10px 15px;
    background: url('images/fondo.GIF');
}

/* login */
#login h2 {
    font-size: 18px;
    line-height: 52px;
    height: 58px;
    background: #49433D url('images/loginh2.gif') no-repeat;
}
#login form {
    text-align: center;
}
#login form p {
    padding: 5px 0;
    text-align: center;
}
#login form p.txtleft {
    padding: 15px 0 5px 35px;
    text-align: left;
	color:#FFF;
}
#login form p.rem {
    padding-top: 15px;
}
#login input.text, #login input.password {
    padding: 4px;
    width: 190px;
    font-size: 13px;
    color: #444444;
    background: #EAE8E7;
    border: 1px solid #A59C95;
    border-left: 1px solid #C8C1BC;
    border-bottom: 1px solid #C8C1BC;
}
#login input.submit {
    margin: 10px 0;
    width: 100px;
    height: 31px;
    color: #A59C95;
    background: #7F2525 url('images/submit.jpg') no-repeat;
    border: none;
    cursor: pointer;
}
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{
	float: left;
	width: 150px;
	text-align: left;
}

.form_setting span
{
	float: left;
	width: 200px;
	text-align: right;
}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 

  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}